<!DOCTYPE html>
<html lang="de"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ghost Net Fishing</title>
</head>
<body>
    <header>
        <h1>ICH BIN EIN HEADER</h1>
    </header>
    <main layout:fragment="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </main>
    <footer>
        &copy; 2025 Shea Sepherd
    </footer>
</body>
</html>