<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}" >
    <head>
        <meta charset="UTF-8">
        <title>All Nets Content</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="mb-3">
                <h1>I am a wonderful landing page</h1>
                <p>Maybe I will tell you something about Shea Sheperd and ghost nets one day.</p>
            </div>
        </div>
    </body>
</html>