<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}" >
    <head>
        <meta charset="UTF-8">
        <title>All Nets Content</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="mb-3">
                <h1>Ghost Nets</h1>
                <p>List of all currently reported ghost nets.</p>
            </div>
            <div sec:authorize="hasRole(T(dev.floelly.ghostnetfishing.model.Role).STANDARD.name())">
                <form th:action="@{/nets}" method="get" class="d-flex gap-3">
                    <select name="state" onchange="this.form.submit()" class="ms-auto">
                        <option value="" th:selected="${param.state != null && param.state[0] != ''}">... filter for net status</option>
                        <option th:each="state : ${T(dev.floelly.ghostnetfishing.model.NetState).values()}"
                                th:value="${state.name}"
                                th:text="${state.name}"
                                th:selected="${param.state != null and param.state[0] == state.name()}">
                    </select>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Size</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="net : ${nets}" th:attr="data-net-id=${net.id}">
                            <td th:text="${net.id}"></td>
                            <td th:text="${#numbers.formatDecimal(net.locationLat, 1, 4)}"></td>
                            <td th:text="${#numbers.formatDecimal(net.locationLong, 1, 4)}"></td>
                            <td th:text="${net.size}"></td>
                            <td th:text="${net.state}"></td>
                            <td>
                                <div class="d-flex gap-3">
                                    <form th:action="@{/nets/{id}/request-recovery(id=${net.id})}" method="post" sec:authorize="hasRole(T(dev.floelly.ghostnetfishing.model.Role).STANDARD.name())">
                                        <button type="submit" class="btn btn-sm btn-primary" th:attr="disabled=${!net.state.name().equals('REPORTED')}">Mark for Recovery</button>
                                    </form>
                                    <form th:action="@{/nets/{id}/mark-recovered(id=${net.id})}" method="post" sec:authorize="hasRole(T(dev.floelly.ghostnetfishing.model.Role).STANDARD.name())">
                                        <button type="submit" class="btn btn-sm btn-primary" th:attr="disabled=${!net.state.name().equals('RECOVERY_PENDING')}">Mark as Recovered</button>
                                    </form>
                                    <form th:action="@{/nets/{id}/mark-lost(id=${net.id})}" method="post">
                                        <button type="submit" class="btn btn-sm btn-primary" th:attr="disabled=${net.state.name().equals('LOST') || net.state.name().equals('RECOVERED')}">Mark as Lost</button>
                                    </form>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>