<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main}">
    <head>
        <meta charset="UTF-8">
        <title>New Net Content</title>
    </head>
    <body>
        <div layout:fragment="content">
            <form th:action="@{/nets/new}" method="post">
                <h1>Report new ghost net</h1>
                <p>Please enter data as precise as possible</p>
                <div class="row mb-3">
                    <label for="locationLat" class="col-sm-2 col-form-label">Latitude</label>
                    <div class="col-sm-10">
                        <input id="locationLat"
                               class="form-control"
                               name="locationLat"
                               type="number"
                               min="-90"
                               max="90"
                               step="0.0001"
                               required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="locationLong" class="col-sm-2 col-form-label">Longitude</label>
                    <div class="col-sm-10">
                        <input id="locationLong"
                               class="form-control"
                               name="locationLong"
                               type="number"
                               min="-180"
                               max="180"
                               step="0.0001"
                               required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="size" class="col-sm-2 col-form-label">Size</label>
                    <div class="col-sm-10">
                        <select id="size"
                                class="form-control"
                                name="size"
                                required>
                            <option value="" selected disabled>- Choose size -</option>
                            <option th:each="size : ${netSizes}"
                                th:value="${size.name()}"
                                th:text="|${size.name()} - (${size.description})|">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>